<header>
        <h1>BOOK APP</h1>
</header>
<hr>
<nav>
    <ul>
        <li><a href="/">PoÄetna stranica</a></li>
        <li><a href="/books">Lista knjiga</a></li>
        <li><a href="/books/create">Dodaj novu knjigu</a></li>
    </ul>
</nav>
<hr>