<html lang="hr">
    <%- include("./partials/head.ejs") %>
    <body>
        <%- include("./partials/headerAndNav.ejs") %>

        <h1>404</h1>
        <h2>Ups, došlo je do greške!</h2>
        <%- include("./partials/footer.ejs") %>
    </body>
</html>