<html lang="hr">
    <%- include("./partials/head.ejs") %>
    <body>
        <%- include("./partials/headerAndNav.ejs") %>

        <h2>Unesite podatke o knjizi</h2>
        <div class="basic-div">
            <form action="/books" method="post">
                <input type="text" name="title" required autofocus placeholder="Naslov" class="input-text"><br><br>
    
                <input type="text" name="author" required placeholder="Autor" class="input-text"><br><br>
                
                <label for="rating">Ocjena:</label><br>
                
                <label>1</label>
                <input type="radio" name="rating" value="1">
    
                <label>2</label>
                <input type="radio" name="rating" value="2">
    
                <label>3</label>
                <input type="radio" name="rating" value="3" checked>
    
                <label>4</label>
                <input type="radio" name="rating" value="4">
    
                <label>5</label>
                <input type="radio" name="rating" value="5"><br><br>
             
                <button class="button-75" role="button"><span class="text">Unesi</span></button>
            </form>
        </div>
        
        <%- include("./partials/footer.ejs") %>
    </body>
</html>