<html lang="hr">
    <%- include("./partials/head.ejs") %>
    <body>
        <%- include("./partials/headerAndNav.ejs") %>


        <div class="register-login-block">
          <% if(messages.error){ %>
            <h4 class="error-message"><%= messages.error %></h4>
          <% } %>
          <h2>Registriraj se</h2>
          <form action="/register" method="POST">
            <input type="text" value="" placeholder="KorisniÄko ime" id="username" name="username" autofocus required/>
            <input type="password" value="" placeholder="Lozinka" id="password" name="password" required/>
            <button type="submit">Registracija</button>
          </form>
        </div>
        <%- include("./partials/footer.ejs") %>
    </body>
</html>